---
layout: articles
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---

<h2>About Ten X Ventures</h2>

<h3>IoT and AI in Asia Pacific</h3>

<p>We invest in seed stage IoT and AI startups in Asia Pacific, the region where they are growing the fastest.</p>

<p>By 2025 IoT will be the biggest source of value of all disruptive technologies - ahead of mobile Internet, knowledge-work automation, cloud computing, and advanced robotics. It will have a potential economic impact of $4 to $11 trillion per year. (Source: <a target="_blank" href="https://www.mckinsey.com/business-functions/mckinsey-digital/our-insights/how-can-we-recognize-the-real-power-of-the-internet-of-things">McKinsey Global Institute</a>)</p>

<p>Asia Pacific is already the global leader in IoT spending, soon to be surpassing the aggregate of the United States and Europe.</p>

<h3>Hands-on experts</h3>

<p>We are a hands-on investor team with proven success in IoT, as entrepreneurs and senior managers.</p>

<p>Before coming together as Ten X Ventures, we</p>
<ul>
  <li>created technologies you use every day, both as startup founders and as corporate leaders;</li>
  <li>acquired and integrated dozens of startups, for companies like Philips, Siemens, PCCW, Tata, Bakrie;</li>
  <li>scaled companies to $100mm in sales.</li>
</ul>

<p>We are based in several Asia Pacific locations - Singapore, Hong Kong, Mainland China, India, Vietnam - and have strategic partnerships in several other countries.</p>


<h3>Sustainabiity drives growth</h3>

<p>We focus on startups that align with the UN’s Sustainable Development Goals, the main growth drivers of the 2020s.</p>


{{ content }}
